<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#mainContent" id="skipLink">Skip to content ?</a>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu">
                <button id="hamburgerButton">☰</button>
            </div>
            <div class="app-bar__brand">
                <h1>FooDex</h1>
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                    <li><a href="#/list-restaurant">Home</a></li>
                    <li><a href="#/like">Favorite</a></li>
                    <li><a href="https://www.instagram.com/nathansipahutar/">About Us</a></li>
                </ul>
            </nav>
        </div>
        <jumbotron-main></jumbotron-main>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer-sect></footer-sect>
</body>

</html>